/*Select class*/
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*Upper bar*/
#navBar, #navBar #plCont {
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-align:stretch; 
     display:-moz-box;      
    -moz-box-orient:horizontal;
    -moz-box-align:stretch;
    display:box;
    box-orient:horizontal;
    box-align:stretch;
    background-color: black;
}
#navBar div {
    padding: 10px 5px;
    vertical-align: middle;
}
#navBar div div {
    text-align: center;
}
#navBar #player1, #navBar #player2 {
    font-size: 18px;
    margin-top: 10px;
    padding: 3px;
}
#navBar #time {
    width: 80%;
}
#navBar #time {
    float: left;
}
#navBar #pass, #navBar #exit, #navBar #surrender {
    float: right;
    padding: 2px;
    margin: 5px auto;
    margin-right: 20px;
    cursor: pointer;
    background-color: #101010;
    border: 1px solid lightgray;
    width: 70%;
}
#navBar #pass:hover, #navBar #exit:hover,#navBar #surrender:hover {
    background-color: rgba(58,58,58,1);
}
#navBar #plCont div {
    display: inline-block;
}
#navBar .inL, #navBar #plCont div:nth-child(1), #navBar #plCont div:nth-child(3) {
    -webkit-box-flex:1.0;
    -moz-box-flex:1.0;
    box-flex:1.0;
    width: 100px;
}
/*Game canvas*/
#game {
    border: 3px solid black;
    /*cursor: pointer;*/
}
#canvasCont {
    margin-bottom: 10px;
}
/*Menues*/
.onCanvasI {
    position: relative;
    background-color: blue;
    margin: 3px; /*Left-right*/
    margin-bottom: 0;
    margin-top: -579px; /*Canvas height+canvasBorder*/
    padding: 80px; /*Left-right*/
    padding-top: 120px;
    padding-bottom: 0;
    width: 416px; /*Canvas width -2*padding*/
    height: 456px; /*Canvas height-padding-top*/
    background-color: rgba(58,58,58,.8);
}
.onCanvasI div {
    vertical-align: middle;
    cursor: pointer;
    background-size: cover;
    border: 1px solid black;
}
.hm div {
    margin: 10px auto;
    padding: 20px 30px;
    font-size: 30px;
    background-color: black;
    border: 3px solid lightgray;
}
.hm div:hover {
    background-color: rgba(58,58,58, 1);
}
#startMenu, #playerMode, #playerNames, #gameMenu, #gameOver {
    text-align: center;
}
#startMenu div {
    width: 180px;
}
#startMenu div:first-child {
    margin-bottom: 50px;
}
#playerMode div {
    display: inline-block;
}
#playerMode div:first-child, #playerNames div:first-child {
    cursor: default;
    display: block;
    background-color: transparent;
    border: none;
}
#playerMode div:last-child, #playerNames div:last-child {
    display: block;
    margin-top: 10px;
    width: 100px;
}
#playerMode .active {
    border: 3px solid white;
}
#playerNames input {
    padding: 10px 5px;
    font-size: 20px;
    width: 200px;
}
#message {
    display: block;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: none;
}
#areYouSure {
    text-align: center;
}
#gameOver h1, #gameOver h3, #areYouSure h1 {
    text-align: center;
}
#areYouSure div {
    padding: 7px;
    font-size: 25px;
    display: inline-block;
}
/*The Rules*/
#theRules h3, #settings h3 {
    margin-top: 5px;
    text-align: center;
    font-size: 45px;
}
#theRules, #settings {
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    cursor: default;
    margin: auto;
    margin-bottom: 0;
    margin-top: -576px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    width: 556px;
    height: 556px;
}
#theRules div, #settings div {
    position: relative;
    cursor: default;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 546px;
    height: 536px;
    margin-bottom: 20px;
    background-color: rgba(15,15,15,1);
    border-radius: 5px;
}
#theRules div div, #settings div div {
    width: 500px;
    height: auto;
    margin: 5px auto;
    overflow: hidden;
    border: none;
    color: white;
}
#theRules div div div, #settings div div div {
    font-size: 20px;
    margin: 5px;
    display: inline;
}
#theRules div div .img {
    background-size: contain;
    background-repeat: no-repeat;
}
#theRules div div .txt {
    overflow: hidden;
}
#theRules div div table {
    margin: 5px auto;
    width: 100%;
    border-collapse: collapse;
}
#theRules th, #theRules td {
    border: 1px solid white;
    padding: 5px;
    margin: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 60px;
    height: 40px;
    max-height: 40px;
}
#theRules div:nth-child(7), #settings div div:last-child  {
    margin: 5px auto;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    background-color: black;
    border: 3px solid lightgray;
    width: 100px;
}
#theRules div:nth-child(7):hover, #settings div div:last-child:hover {
    background-color: rgba(58,58,58,1);
}
/*Settings*/
#settings div div {
    padding: 10px;
}
#settings button {
    outline: none;
    border: none;
    height: 30px; width: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
}
#settings #playbtn {
    background-image: url("Music/Bg/speaker.png");
}
#settings input, #settings button {
    display: inline-block;
    background-color: transparent;
    padding: 5px;
}
#settings input {
    width: 300px;
}
/*Game Menu*/
#gameMenu {
    position: absolute;
    background-color: white;
    border: 1px solid black;
}
#gameMenu div {
    vertical-align: middle;
    cursor: pointer;
    background-size: cover;
    border: 1px solid black;
    display: inline-block;
    height: 50px; width: 50px;
    margin: 3px auto;
    margin-left: 3px;
}
#gameMenu div:last-child {
    margin-right: 3px;
}
#gameMenu .menuEl:hover {
    border: 2px solid #273347;
}
#gameMenu p {
    text-align: center;
    color: #273347;
    padding: 5px;
    width: 100px;
}
#gameMenu div .coins {
    position: relative;
    height: 20px;
    width: 20px;
    margin: 0;
    border: none;
    top: 30px;
    left: 15px;
    line-height: 20px; /*=visina*/
    background-image: url('Sprites/Menu/Coin.png');
}
#gameMenu .message {
    display: inline-block;
    width: auto;
}