body {
    margin: 0;
    padding: 0;
    background-image: url('bg2.png');
    background-size: cover;

    color: white;
    font-family: "Inconsolata", serif;
    overflow-y: auto;
}
#content {
    height: 100%;
}
.sec {
    margin-bottom: 20px;
}
/*Text*/
h1, h3, p, li {
    padding: 0;
    margin: 0;
    text-align: justify;
}
.hdl {
    font-size: 35px;
}
#hdlMain {
    display:block;
    margin: auto;
    height: 70px;
}
/*Section #2-special for 3 columns*/
#sec2 { /*Need for clmns*/
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-align:stretch; 
     display:-moz-box;      
    -moz-box-orient:horizontal;
    -moz-box-align:stretch;
    display:box;
    box-orient:horizontal;
    box-align:stretch;
}
/*Instructions*/
#story, #stats {
    padding: 15px;
    font-size: 20px;
    
    -webkit-box-flex:1.0;
    -moz-box-flex:1.0;
    box-flex:1.0;
    
    width: 200px;
}
/*Story*/
#story {
    padding-top: 0px;
}
#story #stCont {
    padding: 10px;
    background-color: rgba(58,58,58, .8);
    border: 1px solid black;
}
/*Table*/
#stats table {
    border-collapse: collapse;
    width: 100%;
}
#stats td, #stats th {
    border: 1px solid lightgray;
    padding: 8px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 20px;
    min-width: 30px;
}
#stats td  {
    background-color: rgba(58,58,58, .6);
}
#stats tr:first-child {
    cursor: pointer;
}
#stats tr:first-child:hover {
    background-color: rgba(58,58,58, 1);
}
.cost tr:first-child {
    background-color: black;
}
.current {
    border: 3px solid white;
}
.turn {
    font-weight: bolder;
}