/*Holders*/
body {
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg');
    background-size: cover;

    color: white;
    font-family: 'Open Sans', sans-serif;
}
#content {
    height: 100%;
    background: rgba(255, 255, 255, .2);
}
.sec {
    margin-bottom: 20px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    color: white;
	text-align: center;
    font-size: 0.8rem;
	background-color: black;
}
/*Text*/
h1, h3, p, li {
    padding: 0;
    margin: 0;
    text-align: justify;
}
.hdl {
    font-family: 'Signika', sans-serif;
    font-size: 35px;
}
#hdlMain {
    font-size: 50px;
    font-family: 'Signika', sans-serif;
    text-align: center;
    text-shadow: 1px 1px gray;
}
/*Section #2-special for 3 columns*/
#sec2 { /*Need for clmns*/
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-align:stretch; 
     display:-moz-box;      
    -moz-box-orient:horizontal;
    -moz-box-align:stretch;
    display:box;
    box-orient:horizontal;
    box-align:stretch;
}
/*Instructions*/
#story, #stats {
    padding: 15px;
    font-size: 20px;
    height: 510px; /*Canvas height -2*padding*/
    
    -webkit-box-flex:1.0;
    -moz-box-flex:1.0;
    box-flex:1.0;
    
    width: 200px;
}
/*Table*/
#stats table {
    border-collapse: collapse;
    width: 100%;
}
#stats td, #stats th {
    border: 1px solid lightgray;
    text-align: center;
    padding: 8px;
}
#stats tr:first-child {
    cursor: pointer;
}
#stats tr:first-child:hover {
    background-color: cornflowerblue;
}
.cost tr:first-child {
    background-color: #273347;
}
.current {
    border: 3px solid white;
}
.turn {
    font-weight: bolder;
}
#samoZaSad {
    width: 100%;
}
#samoZaSad td {
    text-align: center;
    height: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    color: black;
}